<!DOCTYPE html>
<html>
<meta charset="utf-8">

<head>
	<title>COVID 19</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">

  
	</head>
<body>

	<div style="border: solid;color: black">
		<header>
			<nav class="navbar  navbar-expand-lg navbar-dark bg-dark">
	  <div class="container-fluid">
		<h4 style="color: cornsilk;"><img  class="col-md-1 col-lg-1 col-1" src="/static/logo.jpg"> Covid-19</h4>
		 
		
		 <button  class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		  <span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse   navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav ml-6 col-md-6 mb-2 mb-lg-2">
				<li id="sixth" class="nav-item"><a class="nav-link text-white text"
                    onclick="myFunction6()">Home</a></li>
                <li id="second" class="nav-item "><a class="nav-link text-white text">Anlaysis</a>
                </li>
                <li id="first" class="nav-item"><a onclick="myFunction()" class="nav-link  text-white text">History</a>
                </li>
                <li id="fifth" class="nav-item"><a class="nav-link text-white  text "
                    onclick="myFunction5()">Symptoms</a></li>
                <li id="third" class="nav-item"><a class="nav-link text-white text"
                    onclick="myFunction3()">Predictions</a></li>
                <li class="nav-item " id="fourth"><a onclick="myFunction4()"
                    class="nav-link text-white text">Prevention</a></button></li>

</ul>
		  
		</div>
	  </div>
	</nav>
	
	</header>

	<section >
		<div class="container-fluid">
		<div class="row">
		 
			  
	<h1  class="text-center">What are coronaviruses?</h1>
	<div class="col-lg-6 col-md-6 col-12 "><ul>
	<li  style="text-align: justify;">Coronaviruses are a large family of zoonotic viruses that cause illness ranging from the common cold to severe respiratory diseases. Zoonotic means these viruses are able to be transmitted from animals to humans. There are several coronaviruses known to be circulating in different animal populations that have not yet infected humans. COVID-19 is the most recent to make the jump to human infection.</li>	
<hr>
	<li>Common signs of COVID-19 infection are similar to the common cold and include respiratory symptoms such as dry cough, fever, shortness of breath, and breathing difficulties. In more severe cases, infection can cause pneumonia, severe acute respiratory syndrome, kidney failure, and death.</li>
	<hr>	
		<li>The COVID-19 infection is spread from one person to others via droplets produced from the respiratory system of infected people, often during coughing or sneezing. According to current data, time from exposure to onset of symptoms is usually between two and 14 days, with an average of five days.
		
	</li></ul></div>
		
		<div class="col-lg-6 col-md-6 col-sm-12 text-center">
			<div class="card" >
				<img src="/static/what.jpg">
			  </div>
			 </div>
	</div>
<hr>
<div class="row ">
	<h2 class="h1  bg-dark text-center">Below you can see videos links</h2>
	<div class="col-lg-6 col-md-12 col-12 ">
	
			<video class=" mx-auto" id="video4" width="400" controls>
				<source src="static/video-6.mp4" type="video/mp4">
  
			  </video>
			</div>
			<div class="col-lg-6 col-md-12 col-12" >
			  <video class=" mx-auto" id="video4"  width="400" controls>
				<source src="static/video-6.mp4" type="video/mp4">
  
			  </video>
	</div>
</div>
<br><br>
<div class="row">
	<div class="col-lg-6 col-md-6">
		<img src="/static/child.jpg">
	</div>
	<br>
	<div class="col-lg-6 col-md-12 ">
		<h4 class="h1 bg-dark text-center">Is this coronavirus different from SARS?</h4>
			<p style="text-align: justify;">SARS stands for severe acute respiratory syndrome. In 2003, an outbreak of SARS started in China and spread to other countries before ending in 2004. The virus that causes COVID-19 is similar to the one that caused the 2003 SARS outbreak: both are types of coronaviruses. Much is still unknown, but COVID-19 seems to spread faster than the 2003 SARS and also may cause less severe illness.</div>
			</p></div>
			
		</div>
</section>
<br>
	
<footer>
    <div class="container-fluid text-white">
      <div class="row bg-dark  ml-3">
        <div class=" col-lg-2 col-md-2 col-2 p-2 ml-2">
          <img src="/static/down.jpg" height="50rem" width=80rem>
        </div>
        <div class="col-lg-6 col-md-6 col-2 text-center p-2 col-12"><strong>About |
            Contact us | Privacy Policy | Our Apps | Advertisements</strong></div>
        <div class="col-lg-4 col-md-4 col-2 text-center p-2 col-4">
          <strong> Copyright@ All Rights Reserved </strong>
        </div>
      </div>
    </div>

  </footer>

<script src="/static/javascript/jav11.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>

</body>
</html>


<style>.h1 {
    color: azure;
  }
</style>


